@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ######### html element styling ######## */
body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
}

html {
    font-size: 62.5%;
}

ul li {
    list-style: none;
}

a {
    font-size: 1.6rem;
    text-decoration: none;
}

p,
li {
    font-size: 1.6rem;
    margin-bottom: 0.5em;
}

h1,
h2,
h3 {
    font-size: 3.2rem;
}

/* ############ utlility classes ######## */

.container {
    /*issy left right space equal rhegi or responsive rhega */
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.lg-heading {
    font-size: 3.5rem;
}

.md-heading {
    font-size: 2.1rem;
}

.text-red {
    color: #e63946;
}

.text-light {
    color: #f4f4f4;
}

.text-black {
    color: #333;
}

.text-gray {
    color: #555;
}

.bg-dark {
    background-color: #333;
}

.btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    margin: 0.5em 0;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-primary {
    background-color: white;
    border-radius: 4rem;
}

.btn-primary:hover {
    background-color: #ddd;
}

.btn-secondary {
    border: 2px solid #e63946;
    border-radius: 1.5em;
    color: #e63946;
}

.btn-secondary:hover {
    background-color: #fff8f7;
}



/* ######### Header styling ######## */
.header {
    position: relative;
    height: 95vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/header-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.logo {
    float: left;
    margin-top: 0.2em;
    width: 10%;

}

.navbar .nav-items {
    float: right;
    margin-top: 2em;

}

.navbar::after {
    content: '';
    display: block;
    clear: both;
}

.navbar a:link,
.navbar a:visited {
    color: rgb(229, 220, 220);
}

.navbar a:hover {
    border-bottom: 1px solid rgb(229, 220, 220);
}

.navbar .nav-item {
    display: inline;
}

.nav-item a {
    padding: 0.5em;
    letter-spacing: 0.15em;
    padding-bottom: 0.2rem;
}


.content-heading h1 {
    text-transform: uppercase;


}

.content-heading p {
    text-transform: uppercase;
    word-spacing: 0.5rem;
    letter-spacing: 0.2rem;

}

.content-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: linear-gradient(rgb(0, 0, 0, .2), rgb(0, 0, 0, .2))
}

/* ############## SHOWCASE STYLING######### */
.showcase {
    background-color: #ddd;
    padding: 10rem 0;
}

.row {
    height: 350px;
    background-color: white;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.38);
}

.row1 {
    margin-bottom: 10rem;
}

.row1 .img-box,
.row2 .text-box {
    float: left;
    width: 50%;
}

.row2 .img-box,
.row1 .text-box {
    float: right;
    width: 50%;
}

.row .img-box {
    height: 100%;
}

.row .text-box {
    padding: 3rem;
    letter-spacing: 0.15em;

}

.row .img-box img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row::after {
    content: '';
    display: block;
    clear: both;
}

/* ########### FEATURES STYLING ########## */
.features {
    padding: 10rem 0;

}

.box-wrapper {
    box-shadow: 5px 5px 10px 0px #000000a6;
}

.box {
    width: 33.3333%;
    float: left;
    padding: 1.5rem;
    text-align: center;
  

}

.box-1,
.box-3 {
    background-color: rgb(38, 37, 37);
    color: #f4f4f4;
}

.box-2 {
    background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
    color: #f4f4f4;
}

.box-wrapper::after {
    content: '';
    display: block;
    clear: both;
}

.box i {
    font-size: 2em;
}

/* ################ FOOTER STYLING ############ */
.footer {
    padding: 2rem;
    background-color: #333;
    text-align: center;

}

.socialmedia i {
    margin: 1rem;
    color: #ddd;
}

/* ############### ABOUT PAGE ############# */
.about-page {
    padding: 5rem 0;
}

.about-heading {
    border-bottom: 6px solid #e63946;
    margin-bottom: 1rem;

}

/* ############# About Decoration styling ########## */
.ul-1 {
    float: right;
    width: 50%;
}

.ul-2 {
    float: left;
    width: 50%;
}

.decoration {
    text-align: center;
    margin-top: 2rem;
}

.decoration::after {
    content: '';
    display: block;
    clear: both;
}

.decoration li::before {
    content: '\2713';
    color: #e63946;
    padding: 1rem;
}

/* ########## COUNT STYLING ############# */
.counts {
    margin: 2em;
}

.counts::after {
    content: '';
    display: block;
    clear: both;
}

.count-item {
    float: left;
    width: 25%;
    text-align: center;
}

.count-item span {
    font-size: 3rem;
    font-weight: 600;
    color: #e63946;
}

.count-item p {
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
}

/* ############ CONTACT STYLING ######### */
.contact {
    background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
    color: #f4f4f4;
    padding: 0.5rem;
    box-shadow: 5px px 10px #00000058;
    margin-top: 3em;
}

.left {
    float: left;
    width: 60%;
}

.right {
    float: right;
    width: 40%;
    text-align: right;
}

.paragraph {
    font-weight: 700;
    font-size: 2rem;
    margin: 1.5rem;
}

.contact::after {
    content: '';
    display: block;
    clear: both;
}

.button {
    text-align: center;
    display: inline-block;
    color: #f4f4f4;
    border: 4px solid #f4f4f4;
    padding: 1rem;
    font-weight: 700;
    font-size: 2.5rem;
    padding: 0.5rem 2.5em;
    letter-spacing: 0.5rem;
}

/* ########### CONTACT US STYLING ########### */
.contact-form {
    padding: 5rem 0;
    font-size: 1.6rem;
    background: #f7f7f7;

}

.form-wrapper .company-address {
    height: 750px;
    background: #fff;
    float: left;
    width: 49%;
    padding: 1rem;
}

.form-wrapper .company-address i {
    display: inline-block;
    margin-right: 1rem;
}

.form-wrapper .company-address h2 {
    display: inline-block;
}

.form-wrapper .company-address img {
    max-width: 90%;
    min-height: 40rem;
    object-fit: cover;
    object-position: center;

}

.form-wrapper .adrs-group {
    margin-bottom: 1.5rem;
}

.form-wrapper::after {
    content: '';
    display: block;
    clear: both;
}

/* ########## FORM STYLING ########### */
.form-wrapper .form {
    height: 750px;
    background: #fff;
    float: right;
    width: 49%;
    padding: 1rem;
}

.form-wrapper .form label {
    display: block;


}

.form-wrapper .form input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;

}

.form-wrapper .form label::after {
    content: '*';
    color: #e63946;
}

.form-wrapper form textarea {
    width: 100%;
    height: 300px;
    margin-bottom: 1rem;
}

.form-wrapper .form .form-btn {
    display: block;
    color: #f4f4f4;
    background: #e63946;
    padding: 1rem 4rem;
    margin: 0 auto;
    font-size: 1.6rem;
    outline: none;
    border: none;
    cursor: pointer;
}
  /* ######## MEDIA QUERIES ######### */
@media(max-width:500px) {
    html {
        font-size: 50%;
    }

    .navbar .nav-items,
    .navbar .logo {
        text-align: center;
        float: none;
        display: block;
        width: 100%;
    }

    .content-heading h1 {
        display: none;
    }

    .row {
        height: auto;
        width: 100%;
    }

    .row .img-box,
    .row .text-box {
        float: none;
        text-align: center;
        width: 100%;
    }

    .features .box {
        width: 100%;
        float: none;
        text-align: center;
        box-shadow: 5px 5px 10px 0px #000000a6;
        ;

    }

    .features .box-1,
    .box-2 {
        margin-bottom: 5rem;
    }

    .box-wrapper {
        box-shadow: none;
    }

    .contact .left,
    .right {
        float: none;
        width: 100%;
        text-align: center;
    }
   .form-wrapper .company-address{
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
   }
   .form-wrapper .form{ 
    float: none;
    width: 100%;
    height: auto;
   }
}
@media(min-width:501px) and (max-width:768px){
    html {
        font-size: 50%;
    }
    p{
        font-size: 1.8rem
    }

    .navbar .nav-items,
    .navbar .logo {
        text-align: center;
        float: none;
        display: block;
        width: 100%;
    }

    .row {
        height: auto;
        width: 100%;
    }

    .row .img-box,
    .row .text-box {
        float: none;
        text-align: center;
        width: 100%;
    }

    .features .box {
        width: 100%;
        float: none;
        text-align: center;
        box-shadow: 5px 5px 10px 0px #000000a6;
        ;

    }

    .features .box-1,
    .box-2 {
        margin-bottom: 5rem;
    }

    .box-wrapper {
        box-shadow: none;
    }

    .contact .left,
    .right {
        float: none;
        width: 100%;
        text-align: center;
    }
   .form-wrapper .company-address{
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
   }
   .form-wrapper .form{ 
    float: none;
    width: 100%;
    height: auto;
   }
}
@media(min-width:769px) and (max-width:1200px){
    html {
        font-size: 54.25%;
    }
    .row .text-box h2{
        font-size: 2.2rem;
    }
}
   
@media(orientation: landscape) and (max-height: 500px){
 .header{
    height: 90vmax;
 }
}